// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

}

.icon-time:before {
  content:none;
}

h1{
  margin-top:30px;
}

h2{
    text-align:center;
    position:relative;
    top:60px;
    font-size:50px;
}
