// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #049C6E;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

     h2{
        text-align:center;
        position:relative;
        top:100px;
        font-size:65px;
    }


}

#icon-time {
  margin-top: 25px;
}
