// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #47bbb3;

$title-color:       white;
$moreinfo-color:    white;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
div.widget-nouzotre {

  background-color: $background-color;
  text-align: left;
  padding-bottom: 0px;
  color: white;
  font-weight: 400;

  .title{
    font-size:30px;
    margin-bottom: 25px;
  }

  table{
    width:90%;
    margin-left:10px;
  }

  .badworkerLogin{
    font-size:1.3em;
    padding-left:30px;
  }

  .badworkerDays{
    padding-left:40px;
  }

  td{
    text-align: left;
    padding-top:10px;
  }

  img{
    width:50px;
    height:50px;
	border-radius:25px;
  }
}
