// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12a7bd;

$title-color:       rgba(255, 255, 255, 0.8);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-github-feed {
  vertical-align: top !important;
  background-color: $background-color;

  .header {
    text-align: center;
    .title {
      color: $title-color;
      text-align:center;
    }
  }
}

  .github-info{
    z-index:999;
    width:100%;
  }


  .pulls{
    padding-left:30px;
    padding-top:20px;
    text-align:left;
    width:180px;
  }

  .issues{
    margin-top:40px;
    padding-left:30px;
    text-align:left;
    width:180px;
  }

  .github-issues{
    font-size:40px;
    width:60px;
    position:relative;
    left:210px;
    top:-45px;

  }

  .github-pulls{
    font-size:40px;
    width:60px;
    position:relative;
    left:210px;
    top:-45px;
  }

  .icon-github-sign{
    z-index:1;
    font-size:10em;
    color:rgba(255,255,255,0.2);
    text-align:center;
    width: 100% !important;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 82px;
    z-index: 1;
    pointer-events: none;
}

