// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #12a7bd;

$title-color:       rgba(255, 255, 255, 0.8);
$moreinfo-color:    rgba(255, 255, 255, 0.8);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-github-feed {
  vertical-align: top !important;
  background-color: $background-color;

  .header {
    text-align: center;
    .title {
      color: $title-color;
      text-align:center;
    }
  }

  }

  .iconcenter{
    text-align: center;
  }

  .pulls{
    padding-left:30px;
    text-align:left;
    position:relative;
    top:45px;
  }

  .issues{
    margin-top:40px;
    padding-left:30px;
    text-align:left;
    position:relative;
  }

  .github-issues{
    position:relative;
    left:75px;
    font-size:40px;
    top:-45px;
  }

  .github-pulls{
    position:relative;
    left:75px;
    font-size:40px;
  }
