// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #424242;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-trac {

  background-color: $background-color;
  text-align: left;
  padding-bottom: 0px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;

  .arsia-blocker {
    margin-top:50px;
    text-align: center;
    font-size:80px;
    font-weight:bold;
    height:155px;
  }

  .title{
    font-size:30px;
    margin-bottom: 25px;
  }

}

#widget-trac {
    padding:0;
    text-align:center;
}

div.blocker_tickets{
    background-color:#D23125;
    height:100%;
    width:100%;
}

div.alright{
    background-color:#8bb73f;
    height:100%;
    width:100%;
}

div.trac-content{
    padding-top: 25px;
}

h3.arsiah3{
    padding-top:40px;
}

.valeur{
    padding-top:20px;
    font-size:4.3em;
}
