// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #8bb73f;

$title-color:       white;
$moreinfo-color:    white;

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-trac {

  background-color: $background-color;
  text-align: left;
  padding-bottom: 0px;
  color: white;
  font-weight: 400;

  .title{
    font-size:30px;
    margin-bottom: 25px;
  }

  .affinitic-h3{
    padding-top:20px;
    padding-left:30px;
    text-align:left;
    width:180px;
  }

  .affinitic-value{
    font-size:40px;
    width:60px;
    position:relative;
    left:210px;
    top:-45px;
  }

  .arsia-h3{
    padding-top:20px;
    padding-left:30px;
    text-align:left;
    width:180px;
  }

  .arsia-value{
    font-size:40px;
    width:60px;
    position:relative;
    left:210px;
    top:-45px;
  }

  .cadredeville-h3{
    padding-top:20px;
    padding-left:30px;
    text-align:left;
    width:180px;
  }

  .cadredeville-value{
    font-size:40px;
    width:60px;
    position:relative;
    left:210px;
    top:-45px;
  }


}

#widget-trac {
    padding:0;
    text-align:center;
}

div.blocker_tickets{
    background-color:#D23125;
    height:80px;
    width:100%;
}

div.alright{
    background-color:#8bb73f;
    height:80px;
    width:100%;
}

div.trac-content{
    padding-top: 25px;
}

.valeur{
    padding-top:2px;
    font-size:40px;
}
