// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color: #fc9632;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
div.widget-ndeadlines {

  background-color: $background-color;
  text-align: left;
  padding-bottom: 0px;
  color: white;
  height: 100%;
  position: relative;

  .title{
    font-size:30px;
    margin-bottom: 25px;
  }

  table{
    margin-left:10px;
    width:90%;
  }

  td{
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 440px;
  }

  .deadlinedate{
    width:21%;
  }

  .deadlinetitle{
    padding-left:20px;
    font-size:1em;
  }

  .contractual{
    text-decoration: underline;
  }

  img{
    width:25px;
    height:25px;
  }

  td {
    vertical-align:top;
  }
}

// Allow to overflow div in display: table-cell;
div.widget-ndeadlines-absolute {
  padding-top: 25px;
  position: absolute;
  overflow-y: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
