// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #205081;
$value-color:       #fff;
 
$title-color:       rgba(255, 255, 255, 0.7);;
$moreinfo-color:    rgba(255, 255, 255, 0.8);;
 
// ----------------------------------------------------------------------------
// Widget-weather styles
// ----------------------------------------------------------------------------
.widget-news {

  background-color: $background-color;
  vertical-align: baseline !important;

  .headline-container {
    display: block;
    position:relative;
    top:10px;
    left:10px;
    z-index:99;
  }


  .icon-bitbucket:before{
    color: rgba(255,255,255,0.2);
    text-align:center;
    font-size:16em;
    z-index:1;
    position:absolute;
    float:right;
    top:20px;
    left:195px;
  }
}
