// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9c4274;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-display {

  background-color: $background-color;

  div.display-message {
      margin-left:10px;
      margin-right:10px;
      margin-top:35px;
      text-align:left;
      position:relative;
      font-size:25px;
  }

  div.display-message span.nickname {
      color:rgba(255,255,255, 0.7);
  }

  .usermessage{
      padding-bottom:45px;
      display:block;
  }
}

