// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #e95b35;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-display {

  background-color: $background-color;

  div.display-message {
      margin-left:10px;
      margin-right:10px;
      text-align:left;
      position:relative;
      font-size:25px;
  }

}

