// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #e95b35;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-display {

  background-color: $background-color;

     h3{
        text-align:center;
        position:relative;
        top:30px;
        font-size:60px;
    }

}

