<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":2},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1}]')
 });
 </script>

<% content_for :title do %>Affinitic Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Clock"></div>
        <i id="icon-time" class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="widget-trac" data-id="trac-arsia" data-view="trac" data-title="Trac Arsia" data-interval="10" data-redirect="http://trac.arsia.affinitic.be/trac/query?priority=blocker&status=in+analysis&status=in+development&status=in+testing&status=new&status=ready+for+production&status=reopened&col=id&col=summary&col=priority&col=owner&col=type&col=status&col=milestone&order=priority"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="widget-trac" data-id="trac-merged" data-view="trac" data-title="Trac" data-interval="10" data-redirect="http://trac.affinitic.be/trac/query?priority=blocker&status=accepted&status=assigned&status=new&status=reopened&col=id&col=summary&col=status&col=type&col=priority&col=severity&col=time&order=priority&report=7"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Graphite" data-image="http://graphite.interne.affinitic.be/render/?width=630&_salt=1415975949.298&fgcolor=FFFFFF&bgcolor=424242&from=-3hours&target=alias(euclide_affinitic_be.load.load.shortterm%2C%22Euclide%22)&target=alias(gauss_affinitic_be.load.load.shortterm%2C%22Gauss%22)&target=alias(kepler_affinitic_be.load.load.shortterm%2C%22Kepler%22)&target=alias(lagrange_affinitic_be.load.load.shortterm%2C%22Lagrange%22)&title=Load&areaMode=all&hideGrid=true&hideYAxis=false&lineWidth=2&fontSize=13" data-interval="10000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Graphite" data-image="http://graphite.interne.affinitic.be/render/?width=630&_salt=1415979300.263&fgcolor=FFFFFF&bgcolor=424242&from=-3hours&lineWidth=4&title=Free%20memory%20%2B%20cached%20memory&yMax=&logBase=&hideGrid=true&target=alias(removeAboveValue(sumSeries(euclide_affinitic_be.memory.memory.free.value%2Ceuclide_affinitic_be.memory.memory.cached.value)%2C5000000000)%2C%22Euclide%22)&target=alias(removeAboveValue(sumSeries(gauss_affinitic_be.memory.memory.free.value%2Cgauss_affinitic_be.memory.memory.cached.value)%2C5000000000)%2C%22Gauss%22)&target=alias(removeAboveValue(sumSeries(kepler_affinitic_be.memory.memory.free.value%2Ckepler_affinitic_be.memory.memory.cached.value)%2C5000000000)%2C%22Kepler%22)&target=alias(removeAboveValue(sumSeries(lagrange_affinitic_be.memory.memory.free.value%2Clagrange_affinitic_be.memory.memory.cached.value)%2C5000000000)%2C%22Lagrange%22)&fontSize=13" data-interval="10000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div id="master_jobs" data-id="master_jobs" data-view="JenkinsMaster" data-title="Jenkins" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="nagios-prod" data-view="Nagios" data-unordered="true" data-title="Nagios Prod"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="github_feed" data-view="GithubFeed" data-title="Github"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="nouzotre" data-id="nouzotre" data-view="nouzotre" data-title="Hall of shame"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div id="ndeadlines" data-id="ndeadlines" data-view="ndeadlines" data-title="Deadlines"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar" data-title="Calendrier Affinitic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div id="display" data-id="display" data-view="display" data-title="display"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="widget-trac" data-id="trac-cadredeville" data-view="trac" data-title="Trac Cadre de Ville" data-interval="10" data-redirect="http://trac.cadredeville.affinitic.be/trac/query?priority=blocker&status=accepted&status=assigned&status=new&status=reopened&col=id&col=summary&col=status&col=type&col=priority&col=severity&col=time&order=priority&report=7"></div>
    </li>

  </ul>
</div>
