<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":2},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1}]')
 });
 </script>

<% content_for :title do %>Affinitic Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Clock"></div>
        <i id="icon-time" class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="widget-trac" data-id="trac-merged" data-view="trac" data-title="Trac" data-interval="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Graphite" data-image="http://grafana.interne.affinitic.be/render/dashboard-solo/db/general?panelId=1&fullscreen&width=630" data-interval="10000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div data-view="Graphite" data-image="http://grafana.interne.affinitic.be/render/dashboard-solo/db/general?panelId=2&fullscreen&width=630" data-interval="10000"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
        <div id="master_jobs" data-id="master_jobs" data-view="JenkinsMaster" data-title="Jenkins" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
    <div data-id="nagios-prod" data-view="Nagios" data-unordered="true" data-title="Nagios Prod"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="github_feed" data-view="GithubFeed" data-title="Github"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div id="nouzotre" data-id="nouzotre" data-view="nouzotre" data-title="Hall of shame"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div id="ndeadlines" data-id="ndeadlines" data-view="ndeadlines" data-title="Deadlines"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar_events" data-pre="0" data-view="Calendar" data-title="Calendrier Affinitic"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
        <div id="display" data-id="display" data-view="display" data-title="display"></div>
    </li>

  </ul>
</div>
